*{
    padding: 0;
    margin: 0;
}

.main_banner{
    background-image: url("../images/011.jpg");
    background-size: cover;
    background-position: center top;
    height: 100vh;
    padding-top: 344px;
}
.main_banner.banner_2{
    background-image: url("../images/012.jpg");
}
.main_banner.banner_3{
    background-image: url("../images/013.jpg");
}
.main_banner.banner_4{
    background-image: url("../images/014.jpg");
}
.container{
    margin: auto;
    max-width: 1110px;
}

header{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    padding-top: 31px;
}
header .container{
    display: flex;
    justify-content: space-between;
}
.d_flex{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
header p{
    margin-left: 22px;
    font-size: 15px;
    line-height: 19px;
    color: white;
}
header li span{
    display: inline-block;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 7px 30px;
    color: white;
    font-size: 16px;
    line-height: 22px;
}
header ul{
    list-style: none;
    display: flex;
    padding-top: 1px;
}
header li{
    margin-left: 23px;
}
header .soc{
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    line-height: 38px;
}
.main_banner h1{
    font-size: 55px;
    line-height: 55px;
    color: #181818;
    font-family: sans-serif;
    margin-bottom: 20px;
}
.main_banner p{
    font-family: sans-serif;
    font-size: 34px;
    line-height: 37px;
    margin-bottom: 65px;
    color: #181818;
}
.main_banner .btn{
    display: inline-block;
    padding: 23px 47px;
    background: #FFFFFF;
    border-radius: 40px;
    color: #181818;
    font-size: 18px;
    text-decoration: none;
    margin-right: 20px;
}